:root {
  /* Background Colors */
  --primary-background: #efefef;
  --secondary-background: #1d75de;
  --tertiary-background: #1a69c7;
  --navbar-background: #000;

  /* Button Colors */
  --button-background: #0b0909;
  --button-text-color: #fff;
  --button-line-color: #fff;

  /* Colors */
  --gray-light: #343a3c;
  --gray-mid: #21127e;
  --gray-dark: #1a2024;
  --green: #088ca5;
  --indigo: #494d9f;
  --pink: #b55486;
  --spotify-green: #1dd05d;

  /* Font Family */
  --spotify-font: Helvetica, Arial, sans-serif;

  /* Text Colors */
  --primary-text-color: #505050;
  --secondary-text-color: #ebebeb;
  --tertiary-text-color: #b5dae1;
  --alter-text-color: #8e889e;
}

/* GENERAL STYLES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: var(--spotify-font);
}
.container {
  width: 93%;
  overflow: hidden;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 93.75%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 90%;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 96.77%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 85%;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 72%;
  }
}
/* HEADER  */
header {
  background-color: var(--navbar-background);
}

/* HAEDER: NAVBAR */
/* MENU: Mobile */

.menu-mobile {
  height: 55px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media (min-width: 768px) {
  .menu-mobile {
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  .menu-mobile {
    display: none;
  }
}

.menu-mobile figure {
  margin-left: 5%;
  width: 89px;
}
.menu-mobile #btn-menu {
  display: none;
}
.menu-mobile span {
  color: white;
  font-weight: 300;
  font-size: 2em;
}
.menu-mobile > label {
  margin-right: 5%;
}
.menu-mobile .navbar-mobile {
  width: 100%;
  height: 100vh;
  padding: 10px 6% 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: -200%;
  transition: 0.3s;
  background-color: var(--navbar-background);
}

.menu-mobile .navbar-mobile #btn-close {
  display: none;
}
.menu-mobile .navbar-mobile span {
  display: flex;
  justify-content: flex-end;
  font-weight: 600;
}
.menu-mobile .navbar-mobile li {
  padding-bottom: 25px;
}
.menu-mobile .navbar-mobile a {
  color: white;
  font-weight: 600;
  font-size: 3.6rem;
  text-decoration: none;
}
.menu-mobile .navbar-mobile a:hover {
  color: var(--spotify-green);
}
.menu-mobile .navbar-mobile li:nth-child(6) span {
  width: 25px;
}
.menu-mobile .navbar-mobile li:nth-child(n + 6) a {
  font-size: 2.8rem;
  font-weight: normal;
}

/* ************ NAVBAR DESKTOP ************* */
.menu-desktop {
  display: none;
}
@media (min-width: 992px) {
  .menu-desktop {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-desktop figure {
    width: 140px;
  }
  .menu-desktop .navbar-desktop {
    width: 45%;
  }
  .menu-desktop .navbar-desktop ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-desktop .navbar-desktop li {
    text-decoration: none;
  }
  .menu-desktop .navbar-desktop a {
    color: white;
    font-weight: 600;
    text-decoration: none;
  }
  .menu-desktop .navbar-desktop a:hover {
    color: var(--spotify-green);
  }
  .menu-desktop .navbar-desktop span {
    border-left: 1px solid #fff;
  }
}
/* SETCION: SEC-HERO */
.sec-hero {
  height: 433px;
  color: white;
  background-color: var(--secondary-background);
}
@media (min-width: 576px) {
  .sec-hero {
    height: 450px;
  }
}
@media (min-width: 768px) {
  .sec-hero {
    height: 396px;
  }
}
@media (min-width: 992px) {
  .sec-hero {
    height: 369px;
  }
}
@media (min-width: 1200px) {
  .sec-hero {
    height: 385px;
  }
}
.sec-hero .hero h1 {
  margin-top: 55px;
  font-weight: 800;
  font-size: 2.8rem;
}

@media (min-width: 576px) {
  .sec-hero .hero h1 {
    margin-top: 59px;
  }
}
@media (min-width: 768px) {
  .sec-hero .hero h1 {
    margin-top: 75px;
    font-size: 4rem;
  }
}
.sec-hero .hero p:last-child {
  margin-top: 25px;
  font-size: 1.8rem;
  line-height: 1.5;
}
@media (min-width: 768px) {
  .sec-hero .hero p:last-child {
    margin-top: 35px;
    font-size: 2.4rem;
    line-height: 1.5;
  }
}
.sec-hero .buttons {
  margin-top: 17px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 576px) {
  .sec-hero .buttons {
    margin-top: 55px;
  }
}
@media (min-width: 768px) {
  .sec-hero .buttons {
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.sec-hero .buttons button:first-child,
button:last-child {
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--button-text-color);
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.5;
  border-radius: 500px;
  border: none;
}
@media (min-width: 768px) {
  .sec-hero .buttons button:first-child,
  button:last-child {
    width: 151px;
  }
}
.sec-hero .buttons button:first-child {
  border: 2px solid var(--button-background);
  background-color: var(--button-background);
}
.sec-hero .buttons button:first-child:hover {
  transform: scale(1.04, 1.04);
  background-color: var(--gray-dark);
}
.sec-hero .buttons button:last-child {
  margin-top: 10px;
  border: 2px solid var(--button-line-color);
  background-color: var(--secondary-background);
}
@media (min-width: 768px) {
  .sec-hero .buttons button:last-child {
    margin: 0 0 0 10px;
  }
}
.sec-hero .buttons button:last-child:hover {
  transform: scale(1.03, 1.03);
  background-color: var(--tertiary-background);
}
.sec-hero .conditions {
  margin-top: 42px;
  font-size: 1.1rem;
  line-height: 1.5;
}
.sec-hero .conditions span {
  text-decoration: underline;
}
/* SECTION: SEC-BENEFICIOS */
#sec-beneficios,
#sec-plan {
  padding: 75px 0;
}
#sec-beneficios h2,
#sec-plan h2 {
  font-weight: 800;
  font-size: 2.7rem;
  text-align: center;
}
@media (min-width: 768px) {
  #sec-beneficios h1 {
    font-weight: 800;
    font-size: 4rem;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  #sec-beneficios h2 {
    font-size: 4rem;
  }
}

#sec-beneficios .beneficios-flex-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  #sec-beneficios .beneficios-flex-wrap {
    padding-top: 40px;
    flex-direction: row;
  }
}
@media (min-width: 992px) {
  #sec-beneficios .beneficios-flex-wrap {
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  #sec-beneficios .beneficios-flex-wrap {
    display: none;
  }
}
/* CARD: Music Card Mobile */
#sec-beneficios .music-card {
  height: 150px;
  margin: 0.5rem 0;
  padding-top: 25px;
  display: flex;
  align-items: center;
  gap: 7px;
}
@media (min-width: 768px) {
  #sec-beneficios .music-card {
    width: 335px;
  }
}
@media (min-width: 992px) {
  #sec-beneficios .music-card {
    width: 435px;
  }
}
#sec-beneficios .music-card-img-1,
.music-card-img-2,
.music-card-img-3,
.music-card-img-4 {
  height: 110px;
  flex: 0 0 100px;
  background-size: contain;
  background-repeat: no-repeat;
  /* border: 1px solid green; */
}
#sec-beneficios .music-card-img-1 {
  background-image: url(https://i.scdn.co/image/ab671c3d0000f43009302fbaf6259b4c117c704f);
}
#sec-beneficios .music-card-img-2 {
  background-image: url(https://i.scdn.co/image/ab671c3d0000f43098292b95d24a697c20df5137);
}
#sec-beneficios .music-card-img-3 {
  background-image: url(https://i.scdn.co/image/ab671c3d0000f4306998d3ffd58aad6da6afdf67);
}
#sec-beneficios .music-card-img-4 {
  background-image: url(https://i.scdn.co/image/ab671c3d0000f430cd6c528745e510c5be63a012);
}
#sec-beneficios .music-card-description {
  max-width: 340px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
#sec-beneficios .music-card-description span:first-child {
  font-weight: 600;
  font-size: 2.1rem;
  line-height: 1.4;
}
#sec-beneficios .music-card-description span:last-child {
  margin-top: 18px;
  display: inline-flex;
  font-size: 1.55rem;
}
/* CARD: Music Card Desktop */
#sec-beneficios .beneficios-desktop {
  display: none;
}
@media (min-width: 1200px) {
  #sec-beneficios .beneficios-desktop {
    display: flex;
    justify-content: space-between;
  }
  #sec-beneficios .card-desktop {
    margin-top: 73px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    font-size: 1.5rem;
    text-align: center;
  }
  #sec-beneficios .card-desktop-img1,
  .card-desktop-img2,
  .card-desktop-img3,
  .card-desktop-img4 {
    height: 20rem;
    width: 145px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  #sec-beneficios .card-desktop-img1 {
    background-image: url(https://i.scdn.co/image/ab671c3d0000f43009302fbaf6259b4c117c704f);
  }
  #sec-beneficios .card-desktop-img2 {
    background-image: url(https://i.scdn.co/image/ab671c3d0000f43098292b95d24a697c20df5137);
  }
  #sec-beneficios .card-desktop-img3 {
    background-image: url(https://i.scdn.co/image/ab671c3d0000f4306998d3ffd58aad6da6afdf67);
  }
  #sec-beneficios .card-desktop-img4 {
    background-image: url(https://i.scdn.co/image/ab671c3d0000f430cd6c528745e510c5be63a012);
  }
  #sec-beneficios .card-desktop-content {
    display: flex;
    flex-direction: column;
  }
  #sec-beneficios .card-desktop-content span:first-child {
    flex: 1;
    font-weight: 600;
    font-size: 2.1rem;
    line-height: 1.5;
  }
  #sec-beneficios .card-desktop-content span:last-child {
    margin-top: 15px;
  }
}

/* CARD: Plan */
#sec-plan {
  background-color: var(--primary-background);
}
@media (min-width: 1200px) {
  #sec-plan .container h2 {
    font-size: 4rem;
  }
}
#sec-plan .container > p {
  margin-top: 7px;
  text-align: center;
  line-height: 1.5;
}
#sec-plan .mobile-columns {
  max-width: 440px;
  padding: 35px 0;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
@media (min-width: 1200px) {
  #sec-plan .mobile-columns {
    display: none;
  }
}
#sec-plan .mobile-columns-column {
  padding: 10px;
  margin: 0 8px;
  /* flex: 0 0 350px; */
  /* Layout each column */
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  background-color: var(--button-text-color);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 7px 13px 0px;
}
#sec-plan .mobile-columns-column > span:nth-child(1) {
  width: 95px;
  height: 23px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  color: var(--button-text-color);
  font-weight: 600;
  font-size: 1.2rem;
  background-color: var(--secondary-background);
}
#sec-plan .mobile-columns-column > span:nth-child(2) {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 2.4rem;
}
#sec-plan .mobile-columns-column > span:nth-child(4) {
  margin-top: 5px;
  display: inline-flex;
}

#sec-plan .mobile-columns-content {
  margin-top: 20px;
  padding-top: 20px;
  flex: 1;
  border-top: 2px solid var(--alter-text-color);
}
#sec-plan .mobile-columns-content li {
  margin-bottom: 7px;
  display: flex;
  gap: 5px;
  line-height: 1.3;
  align-items: center;
}
#sec-plan .mobile-columns-column button {
  height: 50px;
  margin-top: 13px;
  color: var(--button-text-color);
  font-weight: 800;
  font-size: 1.4rem;
  border: none;
  border-radius: 500px;
  background-color: var(--button-background);
}
#sec-plan .mobile-columns-column > p:last-child {
  margin-top: 12px;
  color: #535353;
  font-size: 1.05rem;
  line-height: 1.5;
}
#sec-plan .mobile-columns-column > p span {
  text-decoration: underline;
}

/* Desktop-Columns */
#sec-plan .desktop-columns {
  padding: 35px 0;
  display: none;
}
@media (min-width: 1200px) {
  #sec-plan .desktop-columns {
    display: flex;
  }
}

/* ***************** FOOTER ******************* */
footer {
  padding: 80px 0 50px;
  background-color: var(--navbar-background);
}
.footer-info {
  display: flex;
  flex-wrap: wrap;
}
.footer-info-logo,
.footer-info-company,
.footer-info-community,
.footer-info-links,
.footer-info-social-media {
  flex: 0 0 100%;
}
@media (min-width: 768px) {
  .footer-info-company,
  .footer-info-community,
  .footer-info-links {
    flex: 1 0 33.33%;
  }
}
@media (min-width: 992px) {
  .footer-info-logo,
  .footer-info-company,
  .footer-info-community,
  .footer-info-links {
    flex: 1 0 15%;
  }
  .footer-info-social-media {
    flex: 1 0 40%;
  }
}
.footer-info .footer-info-logo img {
  width: 90px;
  height: 30px;
  text-align: left;
}
.footer-info-company span,
.footer-info-community span,
.footer-info-links span {
  height: 70px;
  padding: 50px 0 20px 0;
  display: inline-flex;
  color: #919496;
  font-weight: 800;
  font-size: 1.2rem;
  letter-spacing: 0.08rem;
}
@media (min-width: 992px) {
  .footer-info-company span,
  .footer-info-community span,
  .footer-info-links span {
    height: 40px;
    padding: 0;
  }
}
.footer-info-company li,
.footer-info-community li,
.footer-info-links li {
  padding: 3px 0 15px 0;
}
.footer-info-company li a,
.footer-info-community li a,
.footer-info-links li a {
  color: white;
  font-weight: 500;
  text-decoration: none;
}
.footer-info-company li a:hover,
.footer-info-community li a:hover,
.footer-info-links li a:hover {
  color: var(--spotify-green);
}
.footer-info-social-media .social-media-icons {
  padding-top: 50px;
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 992px) {
  .footer-info-social-media .social-media-icons {
    padding-top: 0;
    justify-content: flex-end;
  }
}
.footer-info-social-media .instagram,
.footer-info-social-media .twitter,
.footer-info-social-media .facebook {
  width: 45px;
  height: 45px;
  display: inline-flex;
  align-items: center;
  color: #ddd;
  text-decoration: none;
}
.footer-info-social-media .instagram {
  background: no-repeat
      url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 448' fill='%23222326'%3E%3Cpath d='M0 230.126v-.793c.016 55.974.294 63.853 1.344 87.03 3.733 81.349 48.87 126.56 130.293 130.293C155.55 447.739 163.165 448 224 448H0V230.126zm229.242-189.75c55.006.014 62.368.256 85.291 1.307 60.704 2.762 89.059 31.565 91.822 91.821 1.05 22.905 1.275 30.266 1.287 85.272v10.487c-.014 55.022-.255 62.365-1.287 85.27-2.782 60.2-31.062 89.059-91.822 91.822-23.159 1.06-30.399 1.297-87.005 1.306h-7.054c-56.572-.009-63.848-.245-86.989-1.306-60.853-2.782-89.058-31.715-91.821-91.84-1.05-22.905-1.292-30.249-1.306-85.271v-8.77c.01-56.572.263-63.83 1.306-86.989 2.781-60.237 31.061-89.058 91.821-91.821 22.923-1.032 30.268-1.274 85.273-1.287h10.484zm-5.242 68.6c-63.523 0-115.024 51.501-115.024 115.024S160.477 339.043 224 339.043 339.024 287.54 339.024 224c0-63.523-51.501-115.024-115.024-115.024zm0 40.357c41.235 0 74.667 33.432 74.667 74.667 0 41.253-33.432 74.667-74.667 74.667S149.333 265.253 149.333 224c0-41.235 33.432-74.667 74.667-74.667zM343.579 77.56c-14.859 0-26.899 12.04-26.899 26.88s12.04 26.88 26.899 26.88c14.84 0 26.861-12.04 26.861-26.88s-12.021-26.88-26.861-26.88zM448 224v224H224c60.835 0 68.47-.261 92.363-1.344 81.274-3.733 126.597-48.87 130.274-130.293C447.74 292.469 448 284.835 448 224zm-1.344-92.344c-3.659-81.275-48.85-126.56-130.275-130.293C293.187.294 285.307.016 229.333 0H448v224c0-60.835-.261-68.45-1.344-92.344zM0 0h218.667c-55.973.016-63.834.294-87.011 1.344C50.306 5.077 5.096 50.214 1.363 131.637.299 154.722.019 162.62 0 217.873V0z'/%3E%3C/svg%3E"),
    currentColor;
}
.footer-info-social-media .twitter {
  background: no-repeat
      url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 448' fill='%23222326'%3E%3Cpath d='M448 0v448H0V0h448zM299.75 64c-22.333 0-41.375 7.875-57.125 23.625S219 122.417 219 144.75c0 6 .667 12.167 2 18.5-33-1.667-63.958-9.958-92.875-24.875S74.667 103.583 54.5 78.75c-7.333 12.5-11 26.083-11 40.75 0 13.833 3.25 26.667 9.75 38.5 6.5 11.833 15.25 21.417 26.25 28.75-12.717-.49-24.637-3.77-35.76-9.841L43 176.5v1c0 19.5 6.125 36.625 18.375 51.375s27.708 24.042 46.375 27.875a83.54 83.54 0 01-21.25 2.75c-4.667 0-9.75-.417-15.25-1.25 5.167 16.167 14.667 29.458 28.5 39.875 13.833 10.417 29.5 15.792 47 16.125-29.333 23-62.75 34.5-100.25 34.5-7.167 0-13.667-.333-19.5-1C64.5 371.917 105.833 384 151 384c28.667 0 55.583-4.542 80.75-13.625s46.667-21.25 64.5-36.5 33.208-32.792 46.125-52.625c12.917-19.833 22.542-40.542 28.875-62.125 6.333-21.583 9.5-43.208 9.5-64.875 0-4.667-.083-8.167-.25-10.5 15.833-11.5 29.333-25.417 40.5-41.75-15.5 6.667-31 10.833-46.5 12.5C392 104 403.833 89.167 410 70c-16 9.5-33.083 16-51.25 19.5-16-17-35.667-25.5-59-25.5z'/%3E%3C/svg%3E"),
    currentColor;
}
.footer-info-social-media .facebook {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 448' fill='%23222326'%3E%3Cpath d='M448 0v448H0V0h448zM276.877 16h-1.127c-28.833 0-51.917 8.542-69.25 25.625-17.16 16.912-25.826 40.645-25.997 71.197l-.003.928v54.5h-63.75v74h63.75V432H257V242.25h63.5l9.75-74H257V121c0-12 2.5-21 7.5-27 4.923-5.908 14.37-8.907 28.342-8.998L293.5 85h39.25V19c-13.085-1.938-31.336-2.938-54.754-2.997l-1.12-.003z'/%3E%3C/svg%3E"),
    currentColor;
}

.footer-info-social-media span {
  height: 45px;
  width: 45px;
  padding: 0 4px;
  background-color: #fff;
  text-decoration: none;
  border-radius: 50%;
  color: white;
}
.footer-info-social-media span:nth-child(1) {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 448' fill='%23222326'%3E%3Cpath d='M0 230.126v-.793c.016 55.974.294 63.853 1.344 87.03 3.733 81.349 48.87 126.56 130.293 130.293C155.55 447.739 163.165 448 224 448H0V230.126zm229.242-189.75c55.006.014 62.368.256 85.291 1.307 60.704 2.762 89.059 31.565 91.822 91.821 1.05 22.905 1.275 30.266 1.287 85.272v10.487c-.014 55.022-.255 62.365-1.287 85.27-2.782 60.2-31.062 89.059-91.822 91.822-23.159 1.06-30.399 1.297-87.005 1.306h-7.054c-56.572-.009-63.848-.245-86.989-1.306-60.853-2.782-89.058-31.715-91.821-91.84-1.05-22.905-1.292-30.249-1.306-85.271v-8.77c.01-56.572.263-63.83 1.306-86.989 2.781-60.237 31.061-89.058 91.821-91.821 22.923-1.032 30.268-1.274 85.273-1.287h10.484zm-5.242 68.6c-63.523 0-115.024 51.501-115.024 115.024S160.477 339.043 224 339.043 339.024 287.54 339.024 224c0-63.523-51.501-115.024-115.024-115.024zm0 40.357c41.235 0 74.667 33.432 74.667 74.667 0 41.253-33.432 74.667-74.667 74.667S149.333 265.253 149.333 224c0-41.235 33.432-74.667 74.667-74.667zM343.579 77.56c-14.859 0-26.899 12.04-26.899 26.88s12.04 26.88 26.899 26.88c14.84 0 26.861-12.04 26.861-26.88s-12.021-26.88-26.861-26.88zM448 224v224H224c60.835 0 68.47-.261 92.363-1.344 81.274-3.733 126.597-48.87 130.274-130.293C447.74 292.469 448 284.835 448 224zm-1.344-92.344c-3.659-81.275-48.85-126.56-130.275-130.293C293.187.294 285.307.016 229.333 0H448v224c0-60.835-.261-68.45-1.344-92.344zM0 0h218.667c-55.973.016-63.834.294-87.011 1.344C50.306 5.077 5.096 50.214 1.363 131.637.299 154.722.019 162.62 0 217.873V0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  border: 1px solid green;
}
.footer-info-social-media span:nth-child(2) {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 448' fill='%23222326'%3E%3Cpath d='M448 0v448H0V0h448zM299.75 64c-22.333 0-41.375 7.875-57.125 23.625S219 122.417 219 144.75c0 6 .667 12.167 2 18.5-33-1.667-63.958-9.958-92.875-24.875S74.667 103.583 54.5 78.75c-7.333 12.5-11 26.083-11 40.75 0 13.833 3.25 26.667 9.75 38.5 6.5 11.833 15.25 21.417 26.25 28.75-12.717-.49-24.637-3.77-35.76-9.841L43 176.5v1c0 19.5 6.125 36.625 18.375 51.375s27.708 24.042 46.375 27.875a83.54 83.54 0 01-21.25 2.75c-4.667 0-9.75-.417-15.25-1.25 5.167 16.167 14.667 29.458 28.5 39.875 13.833 10.417 29.5 15.792 47 16.125-29.333 23-62.75 34.5-100.25 34.5-7.167 0-13.667-.333-19.5-1C64.5 371.917 105.833 384 151 384c28.667 0 55.583-4.542 80.75-13.625s46.667-21.25 64.5-36.5 33.208-32.792 46.125-52.625c12.917-19.833 22.542-40.542 28.875-62.125 6.333-21.583 9.5-43.208 9.5-64.875 0-4.667-.083-8.167-.25-10.5 15.833-11.5 29.333-25.417 40.5-41.75-15.5 6.667-31 10.833-46.5 12.5C392 104 403.833 89.167 410 70c-16 9.5-33.083 16-51.25 19.5-16-17-35.667-25.5-59-25.5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}
.footer-info-social-media span:nth-child(3) {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 448' fill='%23222326'%3E%3Cpath d='M448 0v448H0V0h448zM276.877 16h-1.127c-28.833 0-51.917 8.542-69.25 25.625-17.16 16.912-25.826 40.645-25.997 71.197l-.003.928v54.5h-63.75v74h63.75V432H257V242.25h63.5l9.75-74H257V121c0-12 2.5-21 7.5-27 4.923-5.908 14.37-8.907 28.342-8.998L293.5 85h39.25V19c-13.085-1.938-31.336-2.938-54.754-2.997l-1.12-.003z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}
/* DIV: Costa Rica */
.costa-rica {
  width: 100px;
  margin-left: auto;
}
.costa-rica a {
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
}
.costa-rica a:hover {
  color: var(--spotify-green);
}
.costa-rica svg {
  width: 12x;
  height: 12px;
}
/* DIV: conditions */
.conditions {
  display: flex;
}
/* DIV: Left */
.conditions .conditions-left {
  flex: 1 1 80%;
  margin-top: 20px;
  border: 1px solid #fff;
}
.conditions .conditions-left ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1.2rem;
}
.conditions .conditions-left a {
  padding-right: 10px;
  color: #919496;
  font-size: 1rem;
  text-decoration: none;
}
@media (min-width: 768px) {
  .conditions .conditions-left a {
    padding-right: 10px;
    font-size: 1.2rem;
  }
}
.conditions .conditions-left a:hover {
  color: var(--spotify-green);
}

/* DIV: Rigth */
.conditions .conditions-right {
  flex: 1 1 20%;
  color: #fff;
  border: 1px solid orange;
}
