:root {
  /* Background Colors */
  --primary-background: #fefefe;
  --secondary-background: #1d75de;
  --tertiary-background: #1a69c7;
  --navbar-background: #000;

  /* Button Colors */
  --button-background: #0b0909;
  --button-text-color: #fff;
  --button-line-color: #fff;

  /* Colors */
  --gray-light: #343a3c;
  --gray-mid: #21127e;
  --gray-dark: #1a2024;
  --green: #088ca5;
  --indigo: #494d9f;
  --pink: #b55486;
  --spotify-green: #1dd05d;

  /* Font Family */
  --spotify-font: Helvetica, Arial, sans-serif;

  /* Text Colors */
  --primary-text-color: #505050;
  --secondary-text-color: #ebebeb;
  --tertiary-text-color: #b5dae1;
  --alter-text-color: #8e889e;
}

/* GENERAL STYLES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: var(--spotify-font);
}
.container {
  width: 93%;
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  /* padding: 60px 0; */
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1300px;
  }
}
/* HEADER  */
header {
  background-color: var(--navbar-background);
}

/* HAEDER: NAVBAR */
/* MENU: Mobile */

.menu-mobile {
  height: 55px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media (min-width: 768px) {
  .menu-mobile {
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  .menu-mobile {
    display: none;
  }
}

.menu-mobile figure {
  margin-left: 5%;
  width: 89px;
}
.menu-mobile #btn-menu {
  display: none;
}
.menu-mobile span {
  color: white;
  font-weight: 300;
  font-size: 2em;
}
.menu-mobile > label {
  margin-right: 5%;
}
.menu-mobile .navbar-mobile {
  width: 100%;
  height: 100vh;
  padding: 10px 6% 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: -100%;
  transition: 0.3s;
  background-color: var(--navbar-background);
}

.menu-mobile .navbar-mobile #btn-close {
  display: none;
}
.menu-mobile .navbar-mobile span {
  display: flex;
  justify-content: flex-end;
  font-weight: 600;
}
.menu-mobile .navbar-mobile li {
  padding-bottom: 25px;
}
.menu-mobile .navbar-mobile a {
  color: white;
  font-weight: 600;
  font-size: 3.6rem;
  text-decoration: none;
}
.menu-mobile .navbar-mobile a:hover {
  color: var(--spotify-green);
}
.menu-mobile .navbar-mobile li:nth-child(6) span {
  width: 25px;
}
.menu-mobile .navbar-mobile li:nth-child(n + 6) a {
  font-size: 2.8rem;
  font-weight: normal;
}

/* ************ NAVBAR DESKTOP ************* */
.menu-desktop {
  display: none;
}
@media (min-width: 992px) {
  .menu-desktop {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-desktop figure {
    width: 140px;
  }
  .menu-desktop .navbar-desktop {
    width: 45%;
  }
  .menu-desktop .navbar-desktop ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-desktop .navbar-desktop li {
    text-decoration: none;
  }
  .menu-desktop .navbar-desktop a {
    color: white;
    font-weight: 600;
    text-decoration: none;
  }
  .menu-desktop .navbar-desktop span {
    border-left: 1px solid #fff;
  }
}
/* SETCION: SEC-HERO */
.sec-hero {
  height: 433px;
  color: white;
  background-color: var(--secondary-background);
}
@media (min-width: 576px) {
  .sec-hero {
    height: 450px;
  }
}
@media (min-width: 768px) {
  .sec-hero {
    height: 396px;
  }
}
@media (min-width: 992px) {
  .sec-hero {
    height: 369px;
  }
}
@media (min-width: 1200px) {
  .sec-hero {
    height: 385px;
  }
}
.sec-hero .hero p:first-child {
  margin-top: 55px;
  font-weight: 800;
  font-size: 2.8rem;
}

@media (min-width: 768px) {
  .sec-hero .hero p:first-child {
    margin-top: 75px;
    font-size: 4rem;
  }
}
.sec-hero .hero p:last-child {
  margin-top: 25px;
  font-size: 1.8rem;
  line-height: 1.5;
}
@media (min-width: 768px) {
  .sec-hero .hero p:last-child {
    margin-top: 35px;
    font-size: 2.4rem;
    line-height: 1.5;
  }
}
.sec-hero .buttons {
  margin-top: 17px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .sec-hero .buttons {
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.sec-hero .buttons button:first-child,
button:last-child {
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--button-text-color);
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.5;
  border-radius: 500px;
  border: none;
}
@media (min-width: 768px) {
  .sec-hero .buttons button:first-child,
  button:last-child {
    width: 151px;
  }
}
.sec-hero .buttons button:first-child {
  border: 2px solid var(--button-background);
  background-color: var(--button-background);
}
.sec-hero .buttons button:first-child:hover {
  transform: scale(1.04, 1.04);
  background-color: var(--gray-dark);
}
.sec-hero .buttons button:last-child {
  margin-top: 10px;
  border: 2px solid var(--button-line-color);
  background-color: var(--secondary-background);
}
@media (min-width: 768px) {
  .sec-hero .buttons button:last-child {
    margin: 0 0 0 10px;
  }
}
.sec-hero .buttons button:last-child:hover {
  transform: scale(1.03, 1.03);
  background-color: var(--tertiary-background);
}
.sec-hero .conditions {
  margin-top: 42px;
  font-size: 1.1rem;
  line-height: 1.5;
}
.sec-hero .conditions span {
  text-decoration: underline;
}
/* SECTION: SEC-BENEFICIOS */
#sec-beneficios .music-card .music-card-img {
  width: 100px;
  height: 100px;
  background-image: url(https://i.scdn.co/image/ab671c3d0000f43009302fbaf6259b4c117c704f);
  background-size: contain;
  background-repeat: no-repeat;
}
.music-card {
  display: flex;

  /* OPTIONAL: Spacing between items */
  margin: 0.5rem 0;
}
.music-card-img {
  width: 2rem;
}

.music-card-description {
  /* Take the remaining width */
  flex: 1;
}
