:root {
  /* Google Fonts */
  --Montserrat: "Montserrat", sans-serif;
  --CormorantGaramond: "Cormorant Garamond", serif;
  --HindMadurai: "Hind Madurai", sans-serif;

  /* Colores */
  --bgc-primary: #191919;
}

body {
  font-family: var(--HindMadurai);
  box-sizing: border-box;
}

/* header */
header {
  background-color: var(--bgc-primary);
}
.container {
  width: 80%;
  min-width: 350px;
  margin: 0 auto;
}
#hero {
  padding: 20px 0;
  margin: 60px auto;
  color: #fff;
}
@media (min-width: 992px) {
  #hero {
    margin-top: 0;
  }
}
@media (min-width: 992px) {
  #hero #hero-header {
    max-width: 750px;
    height: 425px;
  }
}
#hero #hero-header h1 {
  font-family: var(--Montserrat);
  font-weight: 700;
  font-size: 25px;
}
@media (min-width: 576px) {
  #hero #hero-header h1 {
    font-size: 30px;
  }
}
#hero #hero-header h2 {
  margin-top: 20px;
  font-family: var(--CormorantGaramond);
  font-weight: 600;
  font-size: 25px;
  line-height: 1.1;
}
@media (min-width: 576px) {
  #hero #hero-header h2 {
    font-size: 40px;
  }
}
#hero #hero-header p {
  margin-top: 20px;
  font-family: var(--HindMadurai);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}
#hero #hero-header p span {
  padding-bottom: 1px;
  font-style: italic;
  border-bottom: 1px solid white;
}
#hero #hero-footer {
  margin-top: 75px;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 992px) {
  #hero #hero-footer {
    margin-top: 0;
  }
}
#hero #hero-footer #left {
  text-align: left;
}
#hero #hero-footer #right {
  text-align: right;
  color: #6c6c6c;
  display: flex;
  align-items: center;
}
#hero #hero-footer #right img {
  padding-left: 10px;
}

/* MAIN - NAVBAR */
nav {
  max-width: 100%;
  height: 60px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  position: absolute;
  top: -30px;
  left: 30px;
  /* background-color: red; */
}
@media (min-width: 992px) {
  nav {
    position: static;
    justify-content: space-between;
  }
}
nav #hamburger-menu {
  display: none;
}
@media (min-width: 992px) {
  nav label {
    display: none;
  }
}
nav #hamburger-menu:checked ~ #navbar {
  margin-left: -29px;
}
nav .logo {
  margin-left: 100px;
  font-family: var(--Montserrat);
  font-weight: 700;
  font-size: 25px;
}
@media (min-width: 992px) {
  nav .logo {
    margin-left: 0;
  }
}
nav .slogan {
  display: none;
}
@media (min-width: 992px) {
  nav .slogan {
    display: block;
    font-weight: 600;
    font-size: 22px;
    display: none;
  }
}
@media (min-width: 1300px) {
  nav .slogan {
    display: block;
  }
}
#navbar {
  width: 100%;
  margin-left: -150%;
  position: absolute;
  top: 60px;
  font-weight: 600;
  font-size: 22px;
  transition: 700ms;

  background-color: #fff;
}
@media (min-width: 992px) {
  #navbar {
    width: 50%;
    position: static;
    margin-left: 0;
    display: flex;
    justify-content: end;
    align-items: center;
  }
}
#navbar li {
  text-align: center;
  padding: 10px;
  border-top: 1px solid var(--bgc-primary);
}
@media (min-width: 992px) {
  #navbar li {
    border-top: none;
  }
}
#navbar li a {
  color: var(--bgc-primary);
  font-family: var(--HindMadurai);
  text-decoration: none;
}
#navbar li a img {
  width: 25px;
}
