:root {
  /* Colors */
  --gray-light: #343a3c;
  --gray-mid: #21127e;
  --gray-dark: #1a2024;
  --pink: #b55486;
  --indigo: #494d9f;
  --green: #088ca5;

  /* Background Colors */
  --primary-background: linear-gradient(
    to right,
    #25aabb,
    #21a3b5,
    #1c9baf,
    #1894a8,
    #148da2
  );
  --secondary-background: #efefef;

  /* Text Colors */
  --primary-text-color: #505050;
  --secondary-text-color: #ebebeb;
  --tertiary-text-color: #b5dae1;
  --alter-text-color: #8e889e;

  /* Font Size */
}
/* General  */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  min-width: 320 px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}

/* HEADER */
header {
  background-color: var(--gray-light);
}
#nav-mobile {
  height: 37px;
  display: flex;
  align-items: center;
  color: var(--secondary-background);
  font-weight: 600;
  font-size: 1.2rem;
}
@media (min-width: 640px) {
  #nav-mobile {
    height: 75px;
    font-size: 2.4rem;
  }
}
@media (min-width: 980px) {
  #nav-mobile {
    display: none;
  }
}
#nav-mobile span:first-child {
  padding-left: 20px;
  flex: 1 1 87.5%;
}
@media (min-width: 640px) {
  #nav-mobile span:first-child {
    padding-left: 37px;
  }
}
#nav-mobile span:last-child {
  width: 42px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 12.5%;
  background-color: var(--gray-dark);
}
@media (min-width: 640px) {
  #nav-mobile span:last-child {
    width: 82px;
    height: 75px;
    font-size: 3.5rem;
  }
}
/* NAV-DESKTOP */
#nav-desktop {
  display: none;
}
@media (min-width: 980px) {
  #nav-desktop {
    width: 55%;
    height: 95px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 53px;
  }
  #nav-desktop a {
    color: var(--secondary-background);
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
  }
}

/* SECTION HERO */
#sec-psd {
  height: 175px;
  display: flex;
  align-items: center;
  background-image: var(--primary-background);
}
@media (min-width: 640px) {
  #sec-psd {
    height: 350px;
  }
}
@media (min-width: 980px) {
  #sec-psd {
    height: 550px;
  }
}
@media (min-width: 1024px) {
  #sec-psd {
    height: 577px;
  }
}
.hero {
  width: 70%;
  margin-left: 26px;
}
@media (min-width: 640px) {
  .hero {
    margin-left: 50px;
  }
}
@media (min-width: 980px) {
  .hero {
    width: 63%;
    margin-left: 78px;
  }
}
@media (min-width: 980px) {
  .hero {
    width: 65%;
    margin-left: 78px;
  }
}
.hero h1 {
  color: var(--secondary-text-color);
  font-weight: 600;
  font-size: 2.1rem;
  line-height: 1.5;
  letter-spacing: 1.1px;
}
@media (min-width: 640px) {
  .hero h1 {
    font-size: 3.5rem;
    line-height: 1.1;
  }
}
@media (min-width: 980px) {
  .hero h1 {
    font-weight: 500;
    font-size: 5.1rem;
    line-height: 1.17;
  }
}
@media (min-width: 1024px) {
  .hero h1 {
    font-size: 5.5rem;
    line-height: 1.1;
  }
}
.hero .hero-link {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  color: var(--tertiary-text-color);
}
@media (min-width: 640px) {
  .hero .hero-link {
    padding-top: 30px;
  }
}
@media (min-width: 980px) {
  .hero .hero-link {
    padding-top: 50px;
  }
}
.hero .hero-link span:first-child {
  font-size: 1.3rem;
}
@media (min-width: 640px) {
  .hero .hero-link span:first-child {
    font-size: 2.1rem;
  }
}
@media (min-width: 980px) {
  .hero .hero-link span:first-child {
    font-size: 2.9rem;
  }
}
@media (min-width: 1024px) {
  .hero .hero-link span:first-child {
    font-size: 3.4rem;
  }
}
.hero .hero-link span:last-child {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 2.5rem;
}
@media (min-width: 640px) {
  .hero .hero-link span:last-child {
    font-weight: 600;
  }
}
@media (min-width: 980px) {
  .hero .hero-link span:last-child {
    font-weight: 600;
    font-size: 2.7rem;
  }
}
@media (min-width: 1024px) {
  .hero .hero-link span:last-child {
    font-weight: 600;
    font-size: 2.9rem;
  }
}

/* SECTION: SEC-ROBIN-HOOD  */
#sec-robin-hood {
  height: 75px;
  display: flex;
}
@media (min-width: 640px) {
  #sec-robin-hood {
    height: 150px;
  }
}
@media (min-woidth: 980px) {
  #sec-robin-hood {
    height: 235px;
  }
}
@media (min-width: 1024px) {
  #sec-robin-hood {
    height: 245px;
  }
}
#sec-robin-hood .left {
  width: 80%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-dark);
}
#sec-robin-hood .left p {
  color: var(--alter-text-color);
  font-weight: 600;
  font-size: 1rem;
}
@media (min-width: 640px) {
  #sec-robin-hood .left p {
    font-size: 2rem;
  }
}
@media (min-width: 980px) {
  #sec-robin-hood .left p {
    font-size: 2.4rem;
  }
}
@media (min-width: 1024px) {
  #sec-robin-hood .left p {
    font-size: 2.5rem;
  }
}
#sec-robin-hood .right {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--pink);
}
#sec-robin-hood .right span {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 1.5rem;
}
@media (min-width: 640px) {
  #sec-robin-hood .right span {
    font-size: 4rem;
  }
}
@media (min-width: 980px) {
  #sec-robin-hood .right span {
    font-weight: 500;
    font-size: 6rem;
  }
}
@media (min-width: 1024px) {
  #sec-robin-hood .right span {
    font-size: 7rem;
  }
}

/* SECTION: GALLERY */
#sec-gallery {
  height: 830px;
  height: 820px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 640px) {
  #sec-gallery {
    height: 1650px;
  }
}
@media (min-width: 980px) {
  #sec-gallery {
    height: 282px;
    flex-direction: row;
  }
}
@media (min-width: 1024px) {
  #sec-gallery {
    height: 295px;
  }
}
#sec-gallery .gallery-left,
.gallery-center,
.gallery-right {
  height: 275px;
}
@media (min-width: 640px) {
  #sec-gallery .gallery-left,
  .gallery-center,
  .gallery-right {
    height: 550px;
  }
}
@media (min-width: 980px) {
  #sec-gallery .gallery-left,
  .gallery-center,
  .gallery-right {
    flex: 1;
    height: inherit;
  }
}
#sec-gallery .gallery-left {
  background-color: var(--indigo);
  display: flex;
  justify-content: center;
  align-items: center;
}
#sec-gallery .gallery-left span {
  color: var(--secondary-text-color);
  font-weight: 600;
  font-size: 3rem;
}
@media (min-width: 640px) {
  #sec-gallery .gallery-left span {
    font-size: 4.5rem;
  }
}
@media (min-width: 640px) {
  #sec-gallery .gallery-left span {
    font-size: 2.7rem;
  }
}
#sec-gallery .gallery-center {
  background-image: url(https://i.picsum.photos/id/249/3000/2000.jpg?hmac=U2oOCXdXUwt6ftKMC4icF6eS8dGDUZJM_0-qi0JEqjk);
  background-size: cover;
  background-repeat: no-repeat;
}
#sec-gallery .gallery-right {
  background-image: url(https://i.picsum.photos/id/454/4403/2476.jpg?hmac=pubXcBaPumNk0jElL63xrQYiSwQWA_DtS8uNNV8PmIE);
  background-size: cover;
  background-repeat: no-repeat;
}
/* SECTION: ARTICLE */
/* article-mobile */
#sec-article {
  height: 445px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--secondary-background);
}
@media (min-width: 640px) {
  #sec-article {
    height: 893px;
  }
}
@media (min-width: 980px) {
  #sec-article {
    height: 550px;
  }
}
@media (min-width: 1024px) {
  #sec-article {
    height: 562px;
  }
}
#sec-article .article-mobile {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 640px) {
  #sec-article .article-mobile {
    width: 80%;
  }
}
@media (min-width: 980px) {
  #sec-article .article-mobile {
    display: none;
  }
}
#sec-article .article-mobile span {
  color: var(--green);
  font-weight: 600;
  font-size: 2rem;
}
@media (min-width: 640px) {
  #sec-article .article-mobile span {
    font-weight: 600;
    font-size: 4rem;
  }
}
#sec-article .article-mobile p {
  margin-top: 25px;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.4;
}
@media (min-width: 640px) {
  #sec-article .article-mobile p {
    font-size: 2.5rem;
    line-height: 1.6;
  }
}

/* article-desktop */
.article-desktop {
  display: none;
}
@media (min-width: 980px) {
  .article-desktop {
    display: block;
    background-color: var(--secondary-background);
  }
  .article-desktop span {
    margin-left: 120px;
    color: var(--green);
    font-weight: 600;
    font-size: 3.5rem;
    border: 1px solid red;
  }
  .article-desktop .flex-wrap {
    width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 5%;
    flex-wrap: wrap;
  }
  .article-desktop .flex-wrap .flex-item {
    margin-top: 25px;
    flex: 0.5 1 40%;
    font-weight: 500;
    line-height: 1.6;
  }
}
/* SECTION: flex FLEXBOX */
/* #flex {
  display: none;
}
@media (min-width: 980px) {
  #flex {
    display: block;
    background-color: var(--secondary-background);
  }
  #flex span {
    font-weight: 500;
    font-size: 4rem;
  }
  #flex .flex-wrap {
    width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 5%;
    flex-wrap: wrap;
  }
  #flex .flex-wrap .flex-item {
    margin-top: 25px;
    flex: 0.5 1 40%;
    font-weight: 500;
    line-height: 1.6;
    border: 1px solid red;
  }
} */
