* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}
header {
  color: #ececec;
  background-color: #373c3f;
}
header #nav-mobile {
  height: 37px;
  display: flex;
  padding-left: 4%;
  justify-content: space-between;
}
header #nav-mobile span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
header #nav-mobile .material-symbols-outlined {
  min-width: 40px;
  background-color: #202529;
}
@media (min-width: 640px) {
  header #nav-mobile {
    min-height: 75px;
  }
  header #nav-mobile .material-symbols-outlined {
    min-width: 75px;
    min-height: 75px;
  }
}
header #nav-desktop {
  display: none;
}
@media (min-width: 980px) {
  header #nav-mobile {
    display: none;
  }
  header #nav-desktop {
    width: 60%;
    height: 100px;
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  header #nav-desktop a {
    display: block;
    color: #ececec;
    font-weight: 700;
    text-decoration: none;
  }
}
/* MAIN */
/* SECTION BLAZROBAR */
.sec-blazrobar {
  min-height: 175px;
  display: flex;
  align-items: center;
  padding-left: 27px;
  background-color: #009ab2;
}
@media (min-width: 640px) {
  .sec-blazrobar {
    height: 347px;
    padding-left: 45px;
  }
}
@media (min-width: 980px) {
  .sec-blazrobar {
    height: 550px;
    padding-left: 80px;
  }
}
@media (min-width: 1024px) {
  .sec-blazrobar {
    height: 575px;
    padding-left: 125px;
  }
}
.sec-blazrobar .br-card {
  width: 75%;
  color: #fff;
}
@media (min-width: 640px) {
  .sec-blazrobar .br-card {
    width: 79%;
  }
}
@media (min-width: 980px) {
  .sec-blazrobar .br-card {
    width: 75%;
  }
}
@media (min-width: 1024px) {
  .sec-blazrobar .br-card {
    max-width: 675px;
  }
}
.br-card p {
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: 1.5px;
}
@media (min-width: 640px) {
  .br-card p {
    font-size: 3.7rem;
  }
}
@media (min-width: 980px) {
  .br-card p {
    font-size: 5.5rem;
  }
}
.br-card .br-link {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  color: #ececec;
  font-size: 1.4rem;
  font-weight: 500;
}
@media (min-width: 640px) {
  .br-card .br-link span {
    font-size: 2.3rem;
  }
}
@media (min-width: 980px) {
  .br-card .br-link span {
    font-size: 3.5rem;
  }
}

/* SEC-GALLERY */
.gallery {
  display: flex;
  flex-direction: column;
}
@media (min-width: 980px) {
  .gallery {
    flex-direction: row;
  }
}
main .gallery .material-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2.7rem;
  background-color: #494d9f;
}
main .gallery .flex-item {
  flex: 1 1 275px;
}
main .gallery .flex-item img {
  width: 100%;
  height: 100%;
}
