:root {
  /* Colors */
  --gray-light: #343a3c;
  --gray-mid: #21127e;
  --gray-dark: #1a2024;
  --pink: #b55486;
  --indigo: #494d9f;

  /* Background Colors */
  --primary-background: linear-gradient(
    to right,
    #25aabb,
    #21a3b5,
    #1c9baf,
    #1894a8,
    #148da2
  );
  --secondary-background: #ececec;

  /* Text Colors */
  --primary-text-color: #505050;
  --secondary-text-color: #fefefe;
  --tertiary-text-color: #b5dae1;
  --alter-text-color: #8e889e;

  /* Font Size */
}
/* General  */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  min-width: 320 px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}

/* HEADER */
header {
  background-color: var(--gray-light);
}
#nav-mobile {
  height: 37px;

  display: flex;
  align-items: center;
  color: var(--secondary-background);
  font-weight: 600;
  font-size: 1.2rem;
}
@media (min-width: 640px) {
  #nav-mobile {
    height: 75px;
    font-size: 2.4rem;
  }
}
@media (min-width: 980px) {
  #nav-mobile {
    display: none;
  }
}
#nav-mobile span:first-child {
  padding-left: 20px;
  flex: 1 1 87.5%;
}
#nav-mobile span:last-child {
  width: 42px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 12.5%;
  background-color: var(--gray-dark);
}
@media (min-width: 640px) {
  #nav-mobile span:last-child {
    width: 82px;
    height: 75px;
    font-size: 3.5rem;
  }
}
/* NAV-DESKTOP */
#nav-desktop {
  display: none;
}
@media (min-width: 980px) {
  #nav-desktop {
    width: 55%;
    height: 95px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 53px;
  }
  #nav-desktop a {
    color: var(--secondary-background);
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
  }
}
